@model  Tide.Models.SearchInfo

<div style ="padding:10px">
    <h3>@Model.UnitName</h3>
    <p>所在城市： @Model.UnitCity</p>
    <p>地址： @Model.UnitAddress</p>

    <p>所属交易所</p>
    <h3>@Model.ExchangeName</h3>
    <p>所在城市：@Model.ExchangeCity</p>
</div>