@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchExchange</title>
</head>
<body>
    <div>
        <div id="searchbox">
            <input type="text" />
            <button type="submit">Search</button>
        </div>
        <div id="detail">
            <ul></ul>
        </div>
    </div>
</body>
</html>
